modal
pydantic
fastapi[standard]
requests
boto3


torch==2.6.0

git+https://github.com/huggingface/transformers
accelerate==1.4.0
huggingface-hub
pillow==11.1.0

git+https://github.com/huggingface/diffusers